<div class="main container-fluid row" *ngIf="loadForm">
  <div class="baner col-6">
    <div class="overlay"></div>
  </div>
  <div class="form col-6">
    <div class="headings">
      <p class="text-center heading">Welcome</p>
      <br />
      <p class="text-center subheading">Log in to your account to continue</p>
    </div>
    <div class="form">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="field mb-4">
          <input
            type="text"
            class="form-control email"
            placeholder="johndoe@user.com"
            formControlName="user"
            id="email"
          />
          <img src="../../../assets/user.png" alt="" class="user" />
          <span class="emailerr" *ngIf="loginForm.invalid && loginForm.touched">Email is required</span>
        </div>
        <div class="field">
          <input
            type="text"
            class="form-control"
            formControlName="password"
            placeholder="**********"
            id="pass"
          />
          <img src="../../../assets/lock.png" alt="" class="lock" />

          <span class="passerr" *ngIf="loginForm.invalid && loginForm.touched">Password is required</span>
        </div>
        <p class="forgotpass mt-3">Forgot Password?</p>
        <button class="mt-1" [ngClass]="loginForm.invalid?'invalid':'valid'" type="submit"[disabled]="loginForm.invalid">Log In</button>

        <div class="social container-fluid mt-5">
            <p>Dont have an account? <u>Sign up!</u></p>
            <div class="accounts mt-4  mx-auto">
                <img src="../../../assets/facebook.png" alt="">
                <img src="../../../assets/twitter.png" alt="">
                <img src="../../../assets/linkedin.png" alt="">
            </div>
          </div>
      </form>


    </div>
  </div>
</div>
