<div class="main">
    <div class="container-fluid header">
        <div class="img">
            <img src="assets/logo.png" alt="">
        </div>
        <div class="actions">
            <div class="contact-us">
                <div class="icon">
                    <img src="assets/contact.png" alt="contact.png">
                </div>
                <div class="title">Contact Us</div>
            </div>
            <div class="user">
                <div class="icon">
                    <img src="assets/person.png" alt="person.png">
                </div>
                <div class="title" (click)="logout()">Log Out</div>
            </div>
        </div>
    </div>

    <div class="container-fluid hero">
        <div class="row hero-grid">
            <div class="col-7 left">
                <h1 class="title">Create templates & Generate CVs that gets the job done.</h1>
                <h3 class="subtitle">Generate several CVs within minutes for multiple job profiles. Ready in minutes with our step-by-step builder.</h3>
                <div class="cta">
                    <span class="btn">
                    <button mat-flat-button (click)="generateCv()">Generate CV</button>
                    </span>    
                    <span class="btn">
                    <button mat-flat-button (click)="createTemplate()">Add Data</button>
                </span>
                    <div class="view-btn">
                        View your templates
                    </div>
                </div>
            </div>
            <div class="col-5 right">
                <img src="assets/hero.png" alt="">
            </div>
        </div>
    </div>

    <div class="footer">
        <img src="assets/footer.png" alt="">
    </div>
</div>